# Fix for npm optional dependencies bug
# https://github.com/npm/cli/issues/4828
optional=false
fund=false
audit=false
legacy-peer-deps=true
# Force install of rollup platform packages
@rollup:registry=https://registry.npmjs.org/
